/* @import url('http://fonts.cdnfonts.com/css/whitney-2'); */

@font-face {
    font-family: whitney;
    font-style: normal;
    font-weight: 500;
    src: local('Whitney'), url('../public/fonts/whitneymedium.woff') format('woff')
}



body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;

    font-family: 'Whitney',
        ' -apple-system',
        'BlinkMacSystemFont',
        "Segoe UI",
        ' Roboto',
        Helvetica,
        Arial,
        sans-serif;
    line-height: 1.25;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

input[type=checkbox] {
    background-color: #000;
}

abbr {
    transition: all 10ms ease-in;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    table {
        border: 0 !important;
    }

    table caption {
        font-size: 1.3em !important;
    }

    table thead {
        border: none !important;
        clip: rect(0 0 0 0) !important;
        height: 1px;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
    }

    table tr {
        border-bottom: 3px solid #ddd !important;
        display: block !important;
        margin-bottom: 0.625em !important;
    }

    table td {
        border-bottom: 1px solid #ddd !important;
        display: block !important;
        font-size: 0.8em !important;
        text-align: right !important;
    }

    table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label) !important;
        float: left !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }

    table td:last-child {
        border-bottom: 0 !important;
    }
}

.profile-btn>.profile-dropdown {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    gap: 4;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    overflow: hidden;
    letter-spacing: 1px;
    top: calc(100% + 0.25rem);
    left: -40px;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 200ms ease-in-out, transform 150ms ease-in-out;
}

.profile-btn:hover>.profile-dropdown,
.profile-btn .profile-dropdown:hover {
    opacity: 1;
    pointer-events: auto;
    z-index: 121;
    transform: translateY(0px);
}

.profile-btn .profile-dropdown a,
.profile-btn .profile-dropdown h6 {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    width: 100%;
    transition: background-color 50ms ease-in-out;
}

.profile-btn .profile-dropdown a:hover,
.profile-btn .profile-dropdown h6:hover {
    cursor: pointer;
    background-color: #f1f7fd;
}

.navbar-list>.navbar-dropdown {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    background-color: #fff;
    color: #000;
    flex-direction: column;
    gap: 4;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    overflow: hidden;
    letter-spacing: 1px;
    top: 100%;
    left: -40px;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 200ms ease-in-out, transform 150ms ease-in-out;
}

.navbar-list:not(:focus):hover>.navbar-dropdown,
.navbar-list .navbar-dropdown:not(:focus):hover {
    opacity: 1;
    pointer-events: auto;
    z-index: 121;
    transform: translateY(0px);
}

.navbar-list:hover {
    color: #1a6aed;
    transition: color 300ms ease-in-out;
}

.navbar-list:hover>.dropdown-icon {
    transform-origin: center;
    transform: rotate(-180deg) rotate(0deg);
    transition: transform 250ms ease-in-out;
}

.navbar-list .navbar-dropdown a,
.navbar-list .navbar-dropdown span {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 50ms ease-in-out;
}

.navbar-list .navbar-dropdown a:hover,
.navbar-list .navbar-dropdown span:hover {
    background-color: #f1f7fd;
}

.sort-dropdown {
    left: 10px !important;
}

.address-dropdown {
    top: 0px !important;
    width: 80px !important;
    height: 80px !important;
}

.navbar-list .navbar-dropdown p:hover {
    background-color: #f1f7fd;
    width: 100%;
}

.home-carousel {
    position: relative;
}

.home-carousel .carousel.carousel-slider .control-arrow {
    position: absolute;
    /* border: 2px solid #fff; */
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    /* background-color: hsla(0, 0%, 100%, .98); */
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
    transition: opacity .3s;
    opacity: 1;
    border-radius: 2px;
}

.home-carousel .carousel.carousel-slider .control-prev::before {
    position: relative;
    border: 0;
    top: 5px;
    fill:#ddd;
    content: url("data:image/svg+xml,%3Csvg width='14.6' height='27' viewBox='0 0 16 27' xmlns='http://www.w3.org/2000/svg' class=''%3E%3Cpath d='M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z' fill='%23666' class='FXox6K'%3E%3C/path%3E%3C/svg%3E");
}

.home-carousel .carousel.carousel-slider .control-next::before {
    position: relative;
    border: 0;
    content: url("data:image/svg+xml,%3Csvg width='14.6' height='27' viewBox='0 0 16 27' xmlns='http://www.w3.org/2000/svg' class='_2-wzdc'%3E%3Cpath d='M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z' fill='%23666' class='FXox6K'%3E%3C/path%3E%3C/svg%3E");
    transform: rotate(180deg)
}

.product-carousel .carousel.carousel-slider .control-dots .dot {
    background-color: rgb(135, 135, 135);
    ;
}